@import "../../../../../../styles/colors.scss";
@import "../../../../../../styles/variables.scss";

.wrapper {
  border: solid 1px $text-color-main;
  border-radius: 16px;
  background-color: $secondary-background;
  height: 797px;
  width: 544px;
  padding: 64px;

  .title {
    font-size: 48px;
    text-transform: uppercase;
    line-height: 72px;
    margin-bottom: 32px;
  }

  .description {
    font-size: 20px;
    @media only screen and (max-width: $mobile-screen) {
      font-size: 16px;
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 670px;
    @media only screen and (max-width: $mobile-screen) {
      font-size: 16px;
    }
  }
  .limits {
    color: #6d7a80;
  }
  @media only screen and (max-width: $mobile-screen) {
    width: 345px;
    height: 100%;
    padding: 32px 16px;
    .title {
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 15px;
    }
    .description {
      font-size: 16px;
    }
    .referral_container {
      margin-bottom: 72px;
    }

    & > div {
      height: 100%;
    }
  }
}
