@import "../../../../../../../../styles/colors.scss";
@import "../../../../../../../../styles/variables.scss";

.wrapper {
  margin-top: 64px;
  .error_state {
    color: #ed6f82;
    size: 12px;
    display: block;
    margin-bottom: 15px;
  }
  .async_error {
    color: #ed6f82;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    img {
      position: absolute;
      left: 20px;
      top: 24px;
    }
  }
  .email_input {
    border: solid 1px $text-color-main;
    border-radius: 8px;
    width: 100%;
    height: 64px;
    padding-left: 56px;
    font-size: 20px;
  }
  .submit_button {
    width: 100%;
    height: 64px;
    border: solid 1px $text-color-main;
    background-color: $active-color;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
  }

  @media only screen and (max-width: $mobile-screen) {
    margin-top: 24px;
    .email_input {
      height: 56px;
      padding-left: 52px;
      font-size: 16px;
    }
    .form {
      img {
        left: 16px;
        top: 21px;
      }
    }

    .submit_button {
      height: 56px;
      font-size: 16px;
    }
  }
}

.inactive {
  .submit_button {
    background-color: rgba(29, 141, 189, 0.433);
  }
}
